{
    "presets": [
        ["env", {
            "targets": {
                "browsers": "> 0.5%, last 2 versions, Firefox ESR, not dead"
            }
        }]
    ],
    "env": {
        "test": {
            "presets": [
                ["env", {
                    "targets": {
                        "node": "current"
                    }
                }]
            ]
        }
    }
}