{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load xr_pages_tags %}
{% load i18n %}


<section class="block {{ value.block.name }}-block {% if value.align %}align-{{ value.align }}{% endif %} {% block block_classes %}{% endblock %}">

    {% block block_header %}
        {% if value.heading %}
            {% if value.align == "full_page" or value.align is None %}
                <div class="container">
            {% endif %}

            <header class="block__header">
                <h2 class="h h--2 h--caps">
                    {{ value.heading }}
                </h2>
            </header>

            {% if value.align == "full_page" or value.align is None %}
                </div>
            {% endif %}
        {% endif %}
    {% endblock %}

    {% block open_block_link %}
        {% if value.get_link %}
            {% include_block value.link %}
        {% endif %}
    {% endblock %}

    {% block block_body %}
        <div class="block__content {% block block_content_classes %}{% endblock %}">
            {% block block_content %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_footer %}
        {% if value.caption or value.description or value.get_link %}
            {% if value.align == "full_page" or value.align is None %}
                <div class="container">
            {% endif %}

            <footer class="block__footer">
                {% if value.caption %}
                    <h3 class="h h--3 h--caps">{{ value.caption }}</h3>
                {% endif %}
                {% if value.description %}
                    <p>{{ value.description }}</p>
                {% endif %}

                {% block read_more_button %}
                    {% if value.get_link %}
                        <strong class="black float-right">{% trans "More" %} {% svg_icon "more" 24 %}</strong>
                    {% endif %}
                {% endblock %}
            </footer>

            {% if value.align == "full_page" or value.align is None %}
                </div>
            {% endif %}
        {% endif %}
    {% endblock %}

    {% block close_block_link %}
        {% if value.get_link %}
            </a>
        {% endif %}
    {% endblock %}

</section>
