{% extends "xr_pages/blocks/base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}


{% block block_content_classes %}{% if value.background_color %}bg--{{ value.background_color }}{% endif %}{% endblock %}


{% block block_content %}

    <figure>
        {% if value.align == "full_page" %}
            {% image value.image fill-1920x1080-c75 alt=value.block.get_title class="img-responsive" %}
        {% elif value.align == "full_content" %}
            {% image value.image fill-1280x720-c75 alt=value.block.get_title class="img-responsive" %}
        {% elif value.align == "center" %}
            {% if value.image.is_landscape  %}
                {% image value.image fill-768x432-c75 alt=value.block.get_title class="img-responsive" %}
            {% else %}
                {% image value.image fill-768x960-c75 alt=value.block.get_title class="img-responsive" %}
            {% endif %}
        {% else %} {# align in "left, right" #}
            {% if value.image.is_landscape %}
                {% image value.image fill-512x288-c75 alt=value.block.get_title class="img-responsive" %}
            {% else %}
                {% image value.image fill-512x640-c75 alt=value.block.get_title class="img-responsive" %}
            {% endif %}
        {% endif %}

        {% if value.attribution %}
            <div class="image-attribution">{{ value.attribution }}</div>
        {% endif %}
    </figure>

{% endblock %}
