{% load wagtailimages_tags %}
{% load wagtailcore_tags %}


<figure class="block image-block {% if value.align %}align--{{ value.align }}{% endif %}">
    {% if value.link.has_link %}
        {% include_block value.link %}
    {% endif %}

    {% if value.align == "full_content" %}
        {% image value.image width-800 alt="{{ value.get_title }}" %}
    {% elif value.align == "full_page" %}
        {% image value.image width-1200 alt="{{ value.get_title }}" %}
    {% else %} {# align in "left,right" #}
        {% image value.image width-400 alt="{{ value.get_title }}" %}
    {% endif %}

    {% if value.link.has_link %}
        </a>
    {% endif %}

    {% if value.caption %}
        <figcaption>{{ value.caption }}</figcaption>
    {% endif %}
    {% if value.attribution %}
        <small>{{ value.attribution }}</small>
    {% endif %}
</figure>