{% extends "xr_pages/layouts/default_page.html" %}
{% load i18n %}
{% load wagtailcore_tags %}
{% load xr_pages_tags %}

{% block content %}

    {% include_block page.content %}

    {% if page.entries %}
        <section class="container">
            <div class="row">
                {% for entry in page.entries %}
                    <div class="col-sm-4">
                        {% include "xr_blog/partials/blog_card.html" with entry=entry %}
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

    <section class="container">
      <div class="float-right">
        <ul class="icon-list icon-list--icons-vertical">
          <li>
            <a href="{{ page.rss_feed_url }}" title="{{ _("RSS") }}" target="_blank">
              {% svg_icon "feed" 30 %}
            </a>
          </li>
          <li>
            <a href="{{ page.atom_feed_url }}" title="{{ _("Atom") }}" target="_blank">
              {% svg_icon "feed" 30 %}
            </a>
          </li>
        </ul>
      </div>
    </section>

{% endblock %}
