

<details class="field-collapsible {{ self.classes|join:" " }}">
    <summary><span class="button">{{ self.heading }}</span>
        <p class="help">{% spaceless %}
            {% for child in self.flat_children %}
                {% if child.heading %}{{ child.heading }}{% elif child.db_field.verbose_name %}{{ child.db_field.verbose_name }}{% endif %}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% endspaceless %}</p>
    </summary>
    <ul class="fields">
        {% for child in self.children %}
            <li class="{{ child.classes|join:" " }}">{{ child.render_as_field }}</li>
        {% endfor %}
    </ul>
</details>
