{% load i18n %}
{% load static %}
{% load wagtailuserbar %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html class="no-js" lang="de">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% block head_title %}XR de{% endblock %}</title>
        
        {% include "partials/favicons.html" %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        {% render_bundle 'main' 'css' %}

        {% block extrastyles %}{% endblock %}
        {% block extrahead %}{% endblock %}
    </head>
    <body class="{% block body_classes %}{% endblock %}" {% block body_attributes %} {% endblock %}>

        <div id="page" class="page-wrap {% block page_classes %} {% endblock %}">
            {% block layout %}
            {% endblock %}
        </div>

        {% wagtailuserbar %}

        {% render_bundle 'main' 'js' %}

    </body>
</html>
