{% load static i18n %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html class="no-js" lang="de">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% block title %}XR de{% endblock %}</title>
        
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00a836">
        <meta name="msapplication-TileColor" content="#050505">
        <meta name="theme-color" content="#00a836">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        {% render_bundle 'main' %}

        {% block extrastyles %}{% endblock %}
        {% block extrahead %}{% endblock %}
    </head>
    <body class="{% block body_classes %}{% endblock %}">
        <div id="page" class="page-wrap">
            {% block layout %}
            {% endblock %}
        </div>
    </body>
</html>
