@import "base/fonts";
@import "base/wipe";
@import "base/html5boilerplate";

@import "base/variables";
@import "base/flex";
@import "base/flexgrid";
@import "base/typography";

@import "base/colors";
@import "base/utilities";
@import "base/clearfix";

@import "modules/body";
@import "modules/siteheader";
@import "modules/sitefooter";
@import "modules/links";



// Theme color palette
$colors: (
  xr-green: #00A836,
  xr-yellow: #F4F07A,
  xr-light-blue: #75D0F1,
  xr-dark-blue: #3860AA,
  xr-white: #FFFFFF,
  xr-black: #130C0D
);

@each $key, $value in $colors {
  .bg--#{$key} {
    background: $value;
  }
  .color--#{$key} {
    color: $value;
  }
}


// Content blocks
//---------------
.video-block {
  position: relative;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.message-block {
  font-size: 4rem;
  p {
    margin: 0;
  }
}
.message-block--inner {
  padding: 30px 50px;
}