@import "base/fonts";
@import "base/wipe";
@import "base/html5boilerplate";

@import "base/variables";
@import "base/flex";
@import "base/flexgrid";
@import "base/typography";

@import "base/colors";
@import "base/utilities";
@import "base/clearfix";

@import "modules/body";
@import "modules/siteheader";
@import "modules/sitefooter";
@import "modules/links";
@import "modules/box";
@import "modules/form";



// Theme color palette
$colors: (
  xr-green: #00A836,
  xr-yellow: #F4F07A,
  xr-light-blue: #75D0F1,
  xr-dark-blue: #3860AA,
  xr-white: #FFFFFF,
  xr-black: #130C0D
);

@each $key, $value in $colors {
  .bg--#{$key} {
    background: $value;
  }
  .color--#{$key} {
    color: $value;
  }
}

// base layout
#header {
  z-index: 1000;
}

#main {
  padding-bottom: 3rem;
}

a.display--block {
  display: block;
}

// Content blocks
//---------------
.block {
  position: relative;
  margin-top: 2rem;
  padding-bottom: 1rem;

  &.align-right {
    float: right;
    margin-left: 2rem;
  }
  &.align-left {
    float: left;
    margin-right: 2rem;
  }
  &.align-right,
  &.align-left {
    z-index: 500;
    width: 346.66px;
  }
  &.align-center {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  &.block--with-bg {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

.block--content {
  position: relative;

}

.block--footer {
  padding-top: 0.5em;
  p {
    padding-bottom: 0;
  }
}

// Video Block
.video-block {
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.responsive-object {
  position: relative;
}

// Massage Block
.slogan-block .block--content {
  width: 100%;
  padding-top: 56.25%;
}
.slogan-block--bg-img,
.inline-svg-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.inline-svg-text text {
  text-anchor: middle;
  text-transform: uppercase;
  font-family: 'Fucxed', Impact, Arial, sans-serif;
}

// Image Block
.image-block {
  figure {
    position: relative;
  }
}

.image-attribution {
  position: absolute;
  bottom: .3em;
  right: .8em;
  color: #fff;
  text-shadow: 0 0 1px #000;
}

// Text Block
.text-block {
  ol {
    clear: left;
    list-style: none;
    counter-reset: xr-list-numbering;
    padding-left: 4em;
  }
  ol li {
    counter-increment: xr-list-numbering;
    position: relative;

    padding-left: 0.75em;
    min-height: 4em;
    border-left: 2px solid #CCCCCC;
  }
  ol li + li {
    margin-top: 2em;
  }
  ol li::before {
    content: counter(xr-list-numbering);
    font-size: 4em;
    font-family: 'Fucxed', Impact, Arial, sans-serif;
    text-align: center;
    line-height: 1;
    position: absolute;
    left: -.8em;
    top: 0;
    width: 0.5em;
  }
}