
<div>
    Icons made by

    {# phone #}
    <a href="https://www.flaticon.com/authors/simpleicon" title="SimpleIcon" target="_blank">SimpleIcon</a>,
    {# youtube #}
    <a href="https://www.freepik.com/" title="Freepik" target="_blank">Freepik</a>,
    {# instagram, twitter, facebook #}
    <a href="https://www.flaticon.com/authors/bogdan-rosu" title="Bogdan Rosu" target="_blank">Bogdan Rosu</a> and
    {# mail #}
    <a href="https://www.flaticon.com/authors/chanut" title="Chanut" target="_blank">Chanut</a>

    from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a>
    are licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>
