{% load static %}
{% load wagtailimages_tags %}
		<meta property="og:site_name" content="Extinction Rebellion Deutschland" />
		<meta property="og:locale" content="de_DE" />
{% if page.author %}
		<meta property="og:type" content="article" />
		<meta property="og:article:published_time" content="{{ page.get_og_datetime }}" />
		<meta property="og:article:author:username" content="{{ page.author }}" />
		<meta property="og:article:section" content="{{ page.group.name }}" />
{% else %}
		<meta property="og:type" content="website" />
{% endif %}
{% if page.seo_title %}
		<meta property="og:title" content="{{ page.seo_title }}" />
{% else %}
		<meta property="og:title" content="{{ page.title }}" />
{% endif %}
{% if page.description %}
		<meta property="og:description" content="{{ page.description }}" />
{% endif %}
{% if page.image %}
		<meta property="og:image" content="{{ page.get_image_url }}" />
		<meta property="og:image:width" content="{{ page.get_image_width }}" />
		<meta property="og:image:height" content="{{ page.get_image_height }}" />
{% endif %}                    
		<meta property="og:url" content="{{ request.build_absolute_uri }}" />