{% load static %}
{% load wagtailimages_tags %}
		<meta property="og:site_name" content="Extinction Rebellion Deutschland" />
		<meta property="og:locale" content="de_DE" />
{% if page.author %}
		<meta property="og:type" content="article" />
		<meta property="og:article:published_time" content="{{ page.date|date:"c" }}" />
		<meta property="og:article:modified_time" content="{{ page.last_published_at|date:"c" }}" />
		<meta property="og:article:author:username" content="{{ page.author }}" />
		<meta property="og:article:section" content="{{ page.group.name }}" />
{% else %}
		<meta property="og:type" content="website" />
{% endif %}
{% if page.seo_title %}
		<meta property="og:title" content="{{ page.seo_title }}" />
{% else %}
		<meta property="og:title" content="{{ page.title }}" />
{% endif %}
{% if page.description %}
		<meta property="og:description" content="{{ page.description }}" />
{% endif %}
{% if page.image %}
        {% image page.image max-1200x630 as image_dict %}
		<meta property="og:image" content="{{ image_dict.url }}" />
		<meta property="og:image:width" content="{{ image_dict.width }}" />
		<meta property="og:image:height" content="{{ image_dict.height }}" />
{% endif %}
		<meta property="og:url" content="{{ request.build_absolute_uri }}" />
