@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 500;
  src: local('Crimson Text Regular'),
       local('CrimsonText-Regular'),
       url('../fonts/crimson-text-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/crimson-text-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 700;
  src: local('Crimson Text Bold'),
       local('CrimsonText-Bold'),
       url('../fonts/crimson-text-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/crimson-text-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
};

@font-face {
  font-family: 'Fucxed';
  font-style: normal;
  font-weight: 700;
  src:  url('../fonts/Fucxed/fucxedcaps-webfont.woff2') format('woff2'),
        url('../fonts/Fucxed/fucxedcaps-webfont.woff') format('woff');
};
