//@import "typecast_scale"; // is currently broken in firefox

html,
body {
    font-family: $font-family-base;
    font-size: $font-size-base;
}

#main {
    @media screen and (min-width: $bp-sm) {
        font-size: 1.1rem;
    }
    @media screen and (min-width: $bp-md) {
        font-size: 1.2rem;
    }
    @media screen and (min-width: $bp-lg) {
        font-size: 1.3rem;
    }
}

p {
    margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.1;
}

@mixin fucxed {
    text-transform: uppercase;
    font-family: 'Fucxed', Impact, Arial, sans-serif;
}

.h {
    &--1 {
        font-size: 3.6em;
    }

    &--2 {
        font-size: 2.6em;
    }

    &--3 {
        font-size: 1.6em;
    }
    &--caps {
        @include fucxed;
    }

    &--center {
        text-align: center;
    }
}
