//@import "typecast_scale"; // is currently broken in firefox

body {
    font-family: 'Crimson Text', serif;
}

p {
    padding-bottom: 1em;
}

.h {
    &--1 {
        
        &-caps {
            text-transform: uppercase;
            font-family: 'Fucxed', Impact, Arial, sans-serif;
        }
    }

    &--2 {
        font-size: 3.2rem;

        &-caps {
            text-transform: uppercase;
            font-family: 'Fucxed', Impact, Arial, sans-serif;
        }
    }

    &--3 {
        font-size: 2.4rem;
        
        &-caps {
            text-transform: uppercase;
            font-family: 'Fucxed', Impact, Arial, sans-serif;
        }
    }
    &--center {
        text-align: center;
    }
}