{% load i18n %}
{% load menu_tags %}
{% load wagtailcore_tags %}
{% load menu_tags %}
{% load xr_pages_tags %}


{% with local_group_page=page.group.active_localgrouppage local_group=page.group event_group_page=page.group.active_eventgrouppage %}
    {% if local_group_page %}
        <ul class="secondary-nav__menu">

            {% children_menu local_group_page template="xr_pages/menus/level_3_menu.html" as local_group_menu %}

            {% if local_group_menu.strip  %}

                <li class="secondary-nav__parent-item {% if page == local_group_page %}active{% endif %}">
                    <a href="{% pageurl local_group_page %}">{{ local_group.name }}</a>
                </li>

                {% if event_group_page %}
                    <li class="secondary-nav__item {% if page == event_group_page or page.is_event_page %}active{% endif %}">
                        <a href="{% pageurl event_group_page %}">{% trans "Veranstaltungen" %}</a>
                    </li>
                {% endif %}

                {{ local_group_menu }}

            {% elif event_group_page %}

                <li class="secondary-nav__parent-item {% if page == local_group_page %}active{% endif %}">
                    {{ local_group.name }}
                </li>

                <li class="secondary-nav__item {% if page == event_group_page or page.is_event_page %}active{% endif %}">
                    <a href="{% pageurl event_group_page %}">{% trans "Veranstaltungen" %}</a>
                </li>

            {% else %}

                {% get_local_group_list_page as local_group_list_page %}

                <li class="secondary-nav__parent-item">
                    <a href="{% pageurl local_group_list_page %}">{{ local_group_list_page.title }}</a>
                </li>

                <li class="secondary-nav__item {% if page == local_group_page %}active{% endif %}">
                    <a href="{% pageurl local_group_page %}">{{ local_group.name }}</a>
                </li>

            {% endif %}

        </ul>
    {% endif %}
{% endwith %}
