{% load menu_tags %}
{% load static %}
{% load xr_pages_tags %}

<ul class="navbar-nav primary-nav__menu">
    {% for item in menu_items %}
        <li class="primary-nav__item {{ item.active_class }} {% if item.has_children_in_menu %}{% endif %}">
            <a href="{{ item.href }}" id="menu_item_{{ item.link_page.pk }}" >
                {{ item.text }}
            </a>

            {% if item.has_children_in_menu and item.active_class %}
                {% sub_menu item template="xr_pages/menus/secondary_nav_menu.html" %}
            {% endif %}

        </li>
    {% endfor %}
</ul>
