{% extends "xr_pages/layouts/default.html" %}
{% load wagtailcore_tags %}
{% load menu_tags %}
{% load xr_pages_tags %}

{% block title %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %} | {{ block.super }}{% endblock %}

{% block header %}
    {% main_menu %}
{% endblock %}

{% block content %}

    <div class="container">
        <h1>{{ page.title }}</h1>
    </div>

    {% include_block page.content %}

{% endblock %}

{% block footer %}
    {% get_footer_menus as footer_menus %}

    {% if footer_menus %}
        <div class="row">
            {% for menu in footer_menus %}

                <div class="col-xxs-12 col-sm-4">
                    {% flat_menu menu.handle %}
                </div>

            {% endfor %}
        </div>
    {% endif %}

{% endblock %}