{% extends "xr_pages/layouts/default.html" %}
{% load wagtailcore_tags %}
{% load menu_tags %}

{% block title %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %} | {{ block.super }}{% endblock %}

{% block header %}
    {% main_menu %}
{% endblock %}

{% block page_type %}events{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="h h--1-caps">{{ page.title }}</h1>
    </div>

    {% include_block page.content %}

{% endblock %}

{% block footer %}
    {% flat_menu "about_us" %}
    {% flat_menu "for_activists" %}
    {% flat_menu "learn_more" %}
    <div class="row">
        <div class="col-xxs-12 col-sm-4">
            <ul class="footer-menu">
                <li><a>Link</a></li>
                <li><a>Link</a></li>
                <li><a>Link</a></li>
            </ul>
        </div>
    </div>
{% endblock %}