{% extends "xr_pages/pages/default.html" %}
{% load wagtailcore_tags %}
{% load menu_tags %}
{% load static %}

{% block page_class %}page-home{% endblock %} 
{% block content %}

{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-xxs-12 col-xs-4 col-sm-4 col-md-4 col-lg-4">#}
{#                <div class="linkblock-with-image">#}
{#                    <img src="{% static "img/tell-the-truth.png" %}" alt="My image" class="img-responsive"/>#}
{#                    <h3>Mehr über die Bewegung</h3>                    #}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xxs-12 col-xs-4 col-sm-4 col-md-4 col-lg-4">#}
{#                <div class="linkblock-with-image">#}
{#                    <img src="{% static "img/rebel-for-life.png" %}" alt="My image" class="img-responsive"/>#}
{#                    <h3>In deiner Nähe</h3>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xxs-12 col-xs-4 col-sm-4 col-md-4 col-lg-4">#}
{#                <div class="linkblock-with-image">#}
{#                    <img src="{% static "img/act-now.png" %}" alt="My image" class="img-responsive"/>#}
{#                    <h3>Werde aktiv</h3>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    
    {% include_block page.content %}

{% endblock %}
