{% extends "xr_pages/pages/default.html" %}
{% load wagtailcore_tags %}
{% load menu_tags %}
{% load static %}

{% block content %}

    <div class="">
        <img style="width: 100%; height: auto;" src="{% static "img/rebellion-ueberleben.jpg" %}" alt="My image" class="img-responsive"/>
    </div>

    <div class="">
        <div class="container">
            <h1 class="h h--1-caps">Rebellion für das Überleben</h1>
            <p>Wir stehen vor einer beispiellosen globalen Katastrophe. Unsere Regierung tut nicht, was nötig wäre, um uns zu schützen, obwohl die Lösungen auf dem Tisch liegen. Das Überleben der Menschheit zu sichern, wird von uns alles abverlangen.</p>
            <h2 class="h h--2-caps">Unsere Forderungen</h2>
            <ul>
                <li>
                    <span>1</span>
                    <p>Die Regierung muss die Wahrheit und das wahre Ausmaß über die Klima- und Ökologische Krise kommunizieren, mit dieser Position inkonsistente Gesetze revidieren und mit zusammen mit den Medien mit der Öffentlichkeit kommunizieren.</p>
                </li>
                <li>
                    <span>2</span>
                    <p>Reduktion der Netto-Treibhausgas-Emissionen in Deutschland bis 2025 auf Netto-Null, bei gleichzeitiger massiver Reduktion des Ressourcenverbrauches auf ein nachhaltiges Niveau.</p>
                </li>
                <li>
                    <span>3</span>
                    <p>Diese Forderungen verlangen zwangsläufig Initiativen und Mobilisierungen in noch nie dagewesenem Ausmaß. Wir fordern, als Teil der Schaffung einer zweckmäßigen demokratischen Struktur, die Einsetzung von nationalen Bürgerversammlungen, die die Art und Umsetzung der Nötigen Massnahmen entscheiden und begleiten.</p>
                </li>
            </ul>
            <div class="row">
                <div class="col-sm-6"><a href="">Was ist die globale Katastrophe? ></a></div>
                <div class="col-sm-6"><a href="">mehr über unsere Forderungen ></a></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="{% static "img/tell-the-truth.png" %}" alt="My image" class="img-responsive"/>
                <h3>Mehr über die Bewegung</h3>
            </div>
            <div class="col-sm-4">
                <img src="{% static "img/rebel-for-life.png" %}" alt="My image" class="img-responsive"/>
                <h3>In deiner Nähe</h3>
            </div>
            <div class="col-sm-4">
                <img src="{% static "img/act-now.png" %}" alt="My image" class="img-responsive"/>
                <h3>Werde aktiv</h3>
            </div>
        </div>
    </div>
    <div class="container">VIDEOS</div>
    
    {% include_block page.content %}

{% endblock %}
