{% extends "xr_pages/pages/default.html" %}
{% load wagtailcore_tags %}

{% block content %}

    <div class="container">
        <h1 class="h h--1-caps">{{ page.title }}</h1>
    </div>

    <div class="container">
        {% include_block page.content %}

        <div class="localgroups-state bt pt--scaled-1">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <h3 class="h h--3-caps">Hamburg</h3>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <ul>
                        {% for local_group in local_groups %}
                            <li><a class="link link--large link--block" href="{% pageurl local_group %}">{{ local_group.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}