{% extends "xr_pages/pages/default.html" %}
{% load wagtailcore_tags %}
{% load menu_tags %}

{% block header %}
    {% main_menu %}
    {% children_menu page %}
{% endblock %}


{% block content %}

    <div class="container">
        <a class="" href="{% pageurl page.get_parent %}">Link zurück zur Übersicht</a>
    </div>

    <div class="container">
        <h1 class="h h--1-caps">{{ page.title }}</h1>
    </div>
    
    <div class="container">
        {% include_block page.content %}
    </div>

{% endblock %}
