{% extends "xr_pages/pages/default.html" %}
{% load i18n %}
{% load wagtailcore_tags %}


{% block content %}

    {{ block.super }}


    {% if events %}
        <section class="container">
            <h2>{% trans "Veranstaltungen" %}</h2>
            <div class="row">
                {% for event in events %}
                    <div class="col-sm-4">
                        {% include "xr_events/partials/event_card.html" %}
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

{% endblock %}