{% extends "xr_pages/layouts/default_page.html" %}
{% load i18n %}
{% load wagtailcore_tags %}

{% block content %}

    {% include_block page.content %}

{#    {% if event_groups %}#}
{#        <section class="container">#}
{#            {% trans "Ortsgruppe" %}:#}
{#            {% for event_group in event_groups %}#}
{#                <a href="{% pageurl event_group %}">{{ event_group.title }}</a>#}
{#            {% endfor %}#}
{#        </section>#}

{#    {% endif %}#}

    {% include "xr_events/partials/event_list_filter.html" %}

    {% if page.upcoming_events %}
        <section class="container">
            <div class="row">
                {% for event in page.upcoming_events %}
                    <div class="col-sm-4">
                        {% include "xr_events/partials/event_card.html" with event=event %}
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

{% endblock %}
