{% extends "xr_pages/layouts/local_group_page.html" %}
{% load i18n %}
{% load wagtailcore_tags %}

{% block content_title %}

    <div class="page-title container">
        <h1 class="h h--1 h--caps">{% trans "Veranstaltungen" %} <small><small>{% trans "von" %}</small> {{ page.group.xr_name }}</small></h1>
    </div>

{% endblock %}

{% block content %}

    {% include_block page.content %}

    {% if page.upcoming_events %}

        <section class="container">
            <div class="row">
                {% for event in page.upcoming_events %}
                    <div class="col-sm-4">
                        {% include "xr_events/partials/event_card.html" %}
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

{% endblock %}