{% extends "xr_pages/layouts/default_page.html" %}
{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load xr_pages_tags %}


{% block content_title %}{% endblock %}

{% block content %}
    <article>
        <div class="container">
            <section class="block event-block align-full_page bg--xr-transparent">

                <div class="block__content">
                    {% if event_date %}
                        <div class="short-date">
                            <span class="short-date__start">
                                <span class="short-date__day">{{ event_date.start|date:"d" }}</span>
                                <span class="short-date__month">{{ event_date.start|date:"M" }}</span>
                            </span>
                        </div>
                    {% elif event.start_date %}
                        <div class="short-date">
                            <span class="short-date__start">
                                <span class="short-date__day">{{ event.start_date|date:"d" }}</span>
                                <span class="short-date__month">{{ event.start_date|date:"M" }}</span>
                            </span>
                            {% if event.start_date.date != event.end_date.date %}
                                <span class="short-date__end">
                                    <span class="short-date__day">{{ event.end_date|date:"d" }}</span>
                                    <span class="short-date__month">{{ event.end_date|date:"M" }}</span>
                                </span>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if event.get_image %}
                        {% image event.get_image width-1280 alt=event.title class="img-responsive" %}
                    {% else %}
                        <div class="image-placeholder"></div>
                    {% endif %}

                    {% if event.location %}
                        <div class="event-block__location"><strong class="black">{{ event.location }}</strong></div>
                    {% endif %}

                </div>

                <div class="block__footer">
                    <h1 class="h h--1 h--caps">{{ event.title }}</h1>

                    {% if event.all_organiser_names %}
                        <h3 class="h h--3 h--caps">{{ event.all_organiser_names }}</h3>
                    {% endif %}
                </div>
            </section>
        </div>

        {% include_block event.content %}

        <div class="container">
            <section class="block align-full_content">

                <div class="block__content">
                    {% regroup event.dates.all by start.date as grouped_dates %}

                    <div class="date-list">
                        {% for date_group in grouped_dates %}
                            <div class="date-list__group {% if date_group.grouper == event_date.start.date %}date-list__group--highlighted{% endif %}">

                                <div class="date-list__grouper short-date">
                                    <span class="short-date__start">
                                        <span class="short-date__day">{{ date_group.grouper|date:"d" }}</span>
                                        <span class="short-date__month">{{ date_group.grouper|date:"M" }}</span>
                                    </span>
                                </div>

                                <div class="date-list__dates">
                                    {% for date in date_group.list %}

                                        <div class="date-list__date">
                                            <h2 class="h h--2 h--caps date-list__title">
                                                <small class="date-list__time">{{ date.start|date:'TIME_FORMAT' }}{% if date.end %} - {{ date.end|date:'TIME_FORMAT' }}{% endif %}</small>
                                                <span class="date-list__label">{% if date.label %}{{ date.label }}{% endif %}</span>
                                            </h2>

                                            <div class="date-list__info">
                                                <div class="date-list__location">
                                                <strong>
                                                    {% if date.location %}
                                                        {{ date.location }}
                                                    {% elif event.location %}
                                                        {{ event.location }}
                                                    {% endif %}
                                                </strong>
                                                </div>
                                                <div class="date-list__description">
                                                    {% if date.description %}
                                                        {{ date.description }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>

        <div class="container">
            <section class="block align-full_content">
                <h4 class="h h--4 h--caps">{% trans "Hosted by" %}</h4>
                {% for organiser in event.get_all_organisers %}
{#                    {% if forloop.counter0 == 1  %}#}
{#                        <h4 class="h h--4 h--caps">{% trans "in cooperation with" %}</h4>#}
{#                    {% endif %}#}
                    {% include "xr_pages/partials/local_group_list_item.html" with local_group=organiser %}
                {% endfor %}
            </section>
        </div>

    </article>
{% endblock %}
