{% extends "xr_pages/layouts/default_page.html" %}
{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block content_title %}{% endblock %}

{% block content %}
    <article class="container">
        <h1 class="h h--1 h--caps">{{ event.title }}</h1>

        {% if event.get_image %}
            {% image event.get_image fill-1280x720-c75 alt=event.title class="img-responsive" %}
        {% endif %}


        {% if event.dates.exists %}
            <h2>{% trans "Wann?" %}</h2>
            {% for date in event.dates.all %}
                <p>{{ date.start }}{% if date.label %}: {{ date.label }}{% endif %}</p>
            {% endfor %}
        {% endif %}

        {% if event.location %}
            <h2>{% trans "Wo?" %}</h2>
            <p>{{ event.location }}</p>
        {% endif %}

        {% include_block page.content %}

        {% if event.organiser %}
            <h2>{% trans "Veranstalter" %}</h2>
            <p>
                <a href="{{ event.organiser.url }}">{{ event.organiser.name }}</a>
                {% if event.organiser.email %}, <a href="mailto:{{ event.organiser.email }}">{{ event.organiser.email }}</a>{% endif %}
            </p>
        {% endif %}

        {% if event.further_organisers.exists %}
            <p>
                {% trans "in Kooperation mit" %}
                {% for organiser in event.further_organisers.all %}
                    {{ organiser.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}

    </article>
{% endblock %}
