{% extends "xr_pages/layouts/default_page.html" %}
{% load i18n %}
{% load wagtailcore_tags %}

{% block content %}

    {% include_block page.content %}

{#    {% if event_groups %}#}
{#        <section class="container">#}
{#            {% trans "Ortsgruppe" %}:#}
{#            {% for event_group in event_groups %}#}
{#                <a href="{% pageurl event_group %}">{{ event_group.title }}</a>#}
{#            {% endfor %}#}
{#        </section>#}

{#    {% endif %}#}
    <div class="mapIframe">
        <iframe width="100%" height="300px" frameborder="0" allowfullscreen
                src="https://umap.openstreetmap.fr/en/map/extinction-rebellion-international-map-of-actions-_343242#7/51.292/9.710"></iframe>
        <p><a href="https://umap.openstreetmap.fr/en/map/extinction-rebellion-international-map-of-actions-_343242#7/51.292/9.710">Vollbildanzeige</a>
        </p>
    </div>
    {% include "xr_events/partials/event_list_filter.html" %}

    {% if page.upcoming_events %}
        <section class="container">
            <div class="row">
                {% for event in page.upcoming_events %}
                    <div class="col-xxs-12 col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        {% include "xr_events/partials/event_card.html" with event=event %}
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

{% endblock %}
