{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load menu_tags %}
{% load xr_pages_tags %}


{% block page_type %}default{% endblock %}


{% block layout %}
    {% block header %}
        <header id="header" class="siteheader">
            <div class="nav-wrapper" id="nav">

                <nav class="primary-nav">
                    <div class="container">
                        <a href="/" class="siteheader-logo">
                            <img class="img-responsive" src="{% static "img/XR_logo_linear_DE.png" %}" alt="Extinction Rebellion Logo" class=""/>
                        </a>

                        {% block main_menu %}
                            {% include "xr_pages/menus/local_group_main_menu.html" %}
                        {% endblock %}

                        <div class="social-media-links">
                            {% block social_media_menu %}
                            {% endblock %}
                        </div>

                        <button class="nav-wrapper__toggle" id="nav-toggle"><span>Menu</span> {% svg_icon "menu" size=24 %}{% svg_icon "close" size=24 %}</button>
                    </div>
                </nav>

            </div>
        </header>
    {% endblock %}

    {% block main %}
        <main id="main">
            {% block messages %}

                {% if messages %}
                    <div class="container">
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

            {% endblock %}

            {% block content_title %}
            {% endblock %}

            {% block content %}
            {% endblock %}

        </main>
    {% endblock %}

    {% block footer %}
        <footer id="footer" class="sitefooter">
            <div class="container">

                <div class="row">

                    <div class="col-xxs-12 col-xs-8">
                        <p>Extinction Rebellion Deutschland ist eine Grassroots-Bewegung inspiriert von Extinction Rebellion UK.</p>
                    </div>

                    <div class="col-xxs-12 col-xs-4">
                        <div class="float-right">
                            {% block social_media_footer %}
                            {% endblock %}
                        </div>
                    </div>

                </div>

                {% block footer_content %}
                    {% get_footer_menus as footer_menus %}

                    {% if footer_menus %}
                        <div class="row">
                            {% for menu in footer_menus %}

                                <div class="col-xxs-12 col-sm-4">
                                    {% flat_menu menu.handle %}
                                </div>

                            {% endfor %}
                        </div>
                    {% endif %}
                {% endblock %}


                <h3 class="h h--3 h--caps">{% trans "Disclaimer" %}</h3>

                <div class="row">
                    <div class="col-xxs-12 col-sm-4">
                        All of our work is free to use non-commercially in the full
                        spirit of DIY. Do not use the work for commercial purposes,
                        however well meaning, without prior consent from the originators.
                    </div>
                    <div class="col-xxs-12 col-sm-4">
                        The Extinction Symbol was designed prior to Extinction Rebellion.
                        Using the symbol on commercial merchandise is strictly forbidden.
                        For more information visit
                        <a href="https://www.extinctionsymbol.info/" target="_blank">
                            www.extinctionsymbol.info
                        </a>.
                    </div>
                    <div class="col-xxs-12 col-sm-4">
                        {% include "partials/icon_credits.html" %}
                    </div>
                </div>

            </div>

        </footer>
    {% endblock %}

{% endblock %}
