{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load menu_tags %}
{% load xr_pages_tags %}


{% block layout %}
    {% block header %}
        <header id="header" class="siteheader">
            <div class="nav-wrapper" id="nav">

                <nav class="main-nav">
                    <div class="container">
                        <a href="/" class="siteheader-logo">
                            <img class="img-responsive" src="{% static "img/XR_logo_linear_DE.png" %}" alt="My image" class=""/>
                        </a>

                        {% main_menu %}

                        <button class="nav-wrapper__toggle" id="nav-toggle">MENU</button>
                    </div>
                </nav>

                <nav class="secondary-menu">
                    <div class="container">
                        {% block secondary_menu %}
                        {% endblock %}
                    </div>
                </nav>

            </div>
        </header>
    {% endblock %}

    {% block main %}
        <main id="main">

            {% block content_title %}
            {% endblock %}

            {% block content %}
            {% endblock %}

        </main>
    {% endblock %}

    {% block footer %}
        <footer id="footer" class="sitefooter">
            <div class="container">

                <div class="row">

                    <div class="col-xxs-12 col-xs-8">
                        <p>Extinction Rebellion Deutschland ist eine Grassroots-Bewegung inspiriert von Extinction Rebellion UK.</p>
                    </div>

                    <div class="col-xxs-12 col-xs-4">
                        <ul class="icon-list icon-list--icons-vertical float-right">
                            <li>
                                <a href="https://www.facebook.com/ExtinctionRebellionDeutschland/">
                                    {% svg_icon "facebook" aria_label="Facebook" %}
                                    <span aria-hidden="true">Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/ExtinctionR_DE">
                                    {% svg_icon "twitter" aria_label="Twitter" %}
                                    <span aria-hidden="true">Twitter</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

                {% block footer_content %}
                    {% get_footer_menus as footer_menus %}

                    {% if footer_menus %}
                        <div class="row">
                            {% for menu in footer_menus %}

                                <div class="col-xxs-12 col-sm-4">
                                    {% flat_menu menu.handle %}
                                </div>

                            {% endfor %}
                        </div>
                    {% endif %}
                {% endblock %}


                <h3 class="h h--3 h--caps">{% trans "Disclaimer" %}</h3>

                <div class="row">
                    <div class="col-xxs-12 col-sm-4">
                        All of our work is free to use non-commercially in the full
                        spirit of DIY. Do not use the work for commercial purposes,
                        however well meaning, without prior consent from the originators.
                    </div>
                    <div class="col-xxs-12 col-sm-4">
                        The Extinction Symbol was designed prior to Extinction Rebellion.
                        Using the symbol on commercial merchandise is strictly forbidden.
                        For more information visit
                        <a href="https://www.extinctionsymbol.info/" target="_blank">
                            www.extinctionsymbol.info
                        </a>.
                    </div>
                    <div class="col-xxs-12 col-sm-4">
                        {% include "partials/icon_credits.html" %}
                    </div>
                </div>

            </div>

        </footer>
    {% endblock %}

{% endblock %}
