{% extends "xr_pages/layouts/default.html" %}
{% load wagtailcore_tags %}


{% block head_title %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %} | {{ block.super }}{% endblock %}


{% block page_type %}{{ page.content_type.model }}{% endblock %}


{% block body_classes %}{{ block.super }} {{ page.content_type.model }}-page{% endblock %}


{% block content_title %}

    <div class="page-title container">
        <h1 class="h h--1 h--caps">{{ page.title }}</h1>
    </div>

{% endblock %}

{% block content %}

    {% include_block page.content %}

{% endblock %}
