{% extends "xr_pages/layouts/default_page.html" %}
{% load wagtailcore_tags %}
{% load menu_tags %}


{% block body_classes %}{% spaceless %}
    {{ block.super }}

    {% if not page.group.is_regional_group %}
        {% if page.group.active_localgrouppage %}
            with-secondary-nav
        {% endif %}
    {% endif %}
{% endspaceless %}{% endblock %}


#{% block secondary_nav %}
    {% if not page.group.is_regional_group %}
        {% include "xr_pages/menus/local_group_level_2.html" %}
    {% endif %}
{% endblock %}
