html {
  height: 100%;
}

body {
    color: $body-color;
    height: 100%;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;

  > main {
    flex: 1 1 auto;
  }
}

.main-funnel {
  padding: 2rem 0;
}