
body {
    color: $body-color;
    font-family: sans-serif;
  }
  
  h1 {
    margin-bottom: 35px;
    text-align: center;
    font-family: 'Crimson Text', serif;
  }
  
  p {
    padding-bottom: 1em;
  }
  
  main {
    @extend .container;
    margin-top: 50px;
  }
  