html {
    height: 100%;
}

body {
    color: $body-color;
    height: 100%;
}

.page-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;

    > main {
        flex: 1 1 auto;
    }
}

.main-hero {
}

.main-funnel {
    margin-bottom: 1.5em;

    &__headline {
        text-align: center;
    }
    &__form {
    }
}

.content-section {
    padding-top: 2em;
    padding-bottom: 2em;
}

.linkblock-with-image {
    margin-bottom: 1.5em;
}
