/*
  All header elements
*/

$header-height-desktop: 5.875rem;
$header-height-mobile: 5rem;
$secondary-nav-height: 1.2rem * 1.6 + 1.25rem;
$logo-height-desktop: 4.5rem;
$logo-height-mobile: 3.7rem;
$nav-toggle-size: 3rem;

$mobile-breakpoint: $bp-md;
$mobile-breakpoint-max: $bp-md-max;

$primary-nav-vertical-gap: -0.4em;
$primary-nav-horizontal-gap: -0.3em;
$primary-nav-vertical-gap-mobile: 0.2em;

body {
    .page-wrap {
        padding-top: $header-height-mobile;
    }

    @media (min-width: $mobile-breakpoint) {
        .page-wrap {
            padding-top: $header-height-desktop;
        }
    }
}

.siteheader {
    background-color: $primary-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: $header-height-mobile;

    @media (min-width: $mobile-breakpoint) {
        height: $header-height-desktop;
    }

    &__wrap {
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;
    }
}

body.transparent-sideheader {
    .page-wrap {
        padding-top: 0;
    }

    .sideheader {
        transition: background-color 0.25s;
        background-color: rgba($primary-color, 0);
        box-shadow: none;

        &.is-scrolled {
            background-color: rgba($primary-color, 1);
            box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
        }
    }
}

body.with-secondary-nav {
    .page-wrap {
        padding-top: $header-height-mobile;
    }

    @media (min-width: $mobile-breakpoint) {
        .page-wrap {
            padding-top: $header-height-desktop + $secondary-nav-height;
        }
    }
}

.siteheader-logo {
    display: flex;
    align-items: center;
    height: $logo-height-mobile;
    margin-right: 32px;
    width: $logo-height-mobile / 133 * 391;
    margin-top: ($header-height-mobile - $logo-height-mobile) / 2;
    margin-bottom: ($header-height-mobile - $logo-height-mobile) / 2;

    @media (min-width: $mobile-breakpoint) {
        flex: 0 0 auto;
        height: $logo-height-desktop;
        margin-top: ($header-height-desktop - $logo-height-desktop) / 2;
        margin-bottom: ($header-height-desktop - $logo-height-desktop) / 2;
        width: $logo-height-desktop / 133 * 391;
    }

    img {
        display: inline-block;
    }
}

.nav-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    .primary-nav {
        position: absolute;
        top: 0;
        width: 100%;
        pointer-events: none;
    }

    @media (min-width: $mobile-breakpoint) {
        flex-direction: row;
        justify-content: space-evenly;
        .primary-nav {
            pointer-events: auto;
        }
    }

    @media (max-width: $mobile-breakpoint-max) {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 8999;
        transition: opacity 0.15s;
        padding: 4em 0;

        .primary-nav__menu,
        .social-media-links {
            visibility: hidden;
            opacity: 0;
        }
        .siteheader-logo {
            position: absolute;
            top: 0;
            left: 1em;
            pointer-events: auto;
        }
        .primary-nav__item,
        .social-media-links {
            transform: translateY(-20px);
            transition: transform 0.4s ease;
        }
    }

    .svg-container__close {
        display: none;
    }

    .icon-list {
        display: flex;
        justify-content: center;
        @media (min-width: $mobile-breakpoint) {
            justify-content: end;
        }
    }

    &.open {
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        position: fixed;
        background-color: $primary-color;
        text-align: center;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: auto;

        .primary-nav {
            position: static;
            pointer-events: auto;
        }

        .primary-nav__menu,
        .social-media-links {
            @media (max-width: $mobile-breakpoint-max) {
                visibility: visible;
                opacity: 1;
            }
        }

        .primary-nav__item,
        .social-media-links {
            transform: translateY(0);
        }

        .svg-container__menu {
            display: none;
        }
        .svg-container__close {
            display: block;
        }
    }

    &__toggle {
        height: $nav-toggle-size;
        position: absolute;
        right: $font-size-base;
        top: 0;
        padding: 0.2em 0.8em;
        z-index: 9000;
        font-family: 'Fucxed', sans-serif;
        font-weight: 700;
        line-height: 1.25;
        font-size: 1.6em;
        vertical-align: middle;
        margin-top: ($header-height-mobile - $nav-toggle-size) / 2;
        margin-bottom: ($header-height-mobile - $nav-toggle-size) / 2;

        display: flex;
        align-items: center;
        align-content: space-between;

        background-color: map_get($colors, xr-warm-yellow);
        border: 2px solid map_get($colors, xr-black);

        pointer-events: auto;

        span {
            margin-top: 0.15em;
            display: inline-block;
            margin-right: 0.5em;
        }

        .svg-container {
            font-size: 1rem;
        }

        @media (min-width: $mobile-breakpoint) {
            display: none;
        }
    }
}

.primary-nav,
.secondary-nav {
    //margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: $mobile-breakpoint) {
        flex-direction: row;
    }

    .container {
        width: 100%;
        max-width: 100%;
        @media (min-width: $mobile-breakpoint) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    .social-media-links {
        margin-top: 2em;
        @media (min-width: $mobile-breakpoint) {
            margin-top: 0;
            margin-left: 2em;
            width: $logo-height-desktop / 133 * 391;
            display: block;
        }
    }

    .icon-list {
        & > li > a:hover,
        & > li > a:focus,
        & > li > a:active {
            color: map-get($colors, xr-warm-yellow);
        }
    }

    &__menu {
        width: 100%;
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        margin-top: -$primary-nav-vertical-gap-mobile;
        margin-left: -$primary-nav-horizontal-gap;

        @media (min-width: $mobile-breakpoint) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            margin-top: -$primary-nav-vertical-gap;
        }
    }

    &__item,
    &__parent-item {
        @include fucxed();
        font-weight: 700;
        font-size: 2em;
        white-space: nowrap;

        margin-top: $primary-nav-vertical-gap-mobile;
        margin-left: $primary-nav-horizontal-gap;

        @media (min-width: $mobile-breakpoint) {
            font-size: 1.3em;
            margin-top: $primary-nav-vertical-gap;
        }

        a {
            padding: 0.5em 0.8em 0.1em;
        }

        // active / hover effects
        position: relative;
        z-index: 50;
        & > a:before {
            content: ' ';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            transform: rotate(-3deg);
            z-index: -10;
        }
        &:nth-child(2n) > a:before {
            transform: rotate(1deg);
        }
        &:nth-child(3n) > a:before {
            transform: rotate(-1.5deg);
        }

        & > a:hover,
        & > a:focus,
        & > a:active {
            &:before {
                background: rgba(map-get($colors, xr-warm-yellow), 0.8);
            }
        }
        &.active,
        &.ancestor {
            & > a:before {
                background: map-get($colors, xr-warm-yellow);
            }
        }
    }
    &__parent-item {
        font-size: 3em;
        line-height: 1.2;

        @media (min-width: $mobile-breakpoint) {
            font-size: 2em;
            & + .primary-nav__item {
                margin-left: $primary-nav-horizontal-gap + 1em;
            }
        }
    }
}

.secondary-nav {
    font-size: 1rem;
    margin-bottom: 1em;

    @media (min-width: $mobile-breakpoint) {
        position: fixed;
        top: $header-height-desktop;
        left: 0;
        margin-bottom: 0;
        background: map-get($colors, xr-warm-yellow);
    }

    &__menu {
        align-items: center;

        @media (min-width: $mobile-breakpoint) {
            height: $secondary-nav-height;
            flex-wrap: nowrap;
        }
    }
    &__item,
    &__parent-item {
        font-size: 1.3em;

        // active / hover
        &:nth-child(2n) > a:before {
            transform: rotate(2deg);
        }
        &:nth-child(3n) > a:before {
            transform: rotate(-1deg);
        }
        & > a:hover,
        & > a:focus,
        & > a:active {
            &:before {
                background: rgba(map-get($colors, xr-green), 0.5);
            }
        }
        &.active,
        &.ancestor {
            & > a:before {
                background: map-get($colors, xr-green);
            }
        }
    }
}
