/*
  All header elements
*/

$header-height-desktop: 94px;
$header-height-mobile: 64px;
$logo-height: 72px;
$nav-toggle-size: 32px;

.page-wrap {
  @media (max-width: $bp-xs) {
    padding-top: $header-height-mobile;
  }
}

.siteheader {
  background-color: $primary-color;
  width: 100%;
  box-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.1);

  @media (max-width: $bp-xs) {
    height: $header-height-mobile;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  
  @media (min-width: $bp-sm) {
    height: $header-height-desktop;
  }

  &__wrap {
    display: flex;
    align-items: center;
  }
}

.siteheader-logo {
  display: flex;
  align-items: center;
  height: $logo-height;
  margin-right: 32px;
  width: 140px;
  margin-top: ($header-height-mobile - $logo-height) / 2;
  margin-bottom: ($header-height-mobile - $logo-height) / 2;
  
  @media (min-width: $bp-sm) {
    margin-top: ($header-height-desktop - $logo-height) / 2;
    margin-bottom: ($header-height-desktop - $logo-height) / 2;
    width: 180px;
  }
  
  @media (min-width: $bp-md) {
    width: 210px;
  }

  img {
    display: inline-block;
  }
}

.main-nav {
  @media (max-width: $bp-sm) {
    
  }

  @media (min-width: $bp-sm) {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  &.open {
    height: 100%;

    .main-nav__nav {
      position: fixed;
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
      background-color: $primary-color;
      text-align: center;
      overflow-x: hidden;
      overflow-y: scroll; 
      -webkit-overflow-scrolling: auto;
    }

    .main-nav__toggle {
      background-image: url('/static/img/xr-menu-close.svg')
    }
    .main-nav__item {
      transform: translateY(0);
    }
    .siteheader-logo {
      display: none;
    }
  }

  &__nav {
    @media (max-width: $bp-sm) {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
      z-index: 8999;
      transition: opacity .15s;
      padding: 4rem 2rem;
    }
    @media (min-width: $bp-sm) {
      display: flex;
      justify-content: space-evenly;
    }
  }

  &__toggle {
    height: $nav-toggle-size;
    position: absolute;
    right: 5%;
    top: 0;
    padding-right: 36px;
    z-index: 9000;
    font-family: "Crimson Text", sans-serif;
    font-weight: 700;
    line-height: 40px;
    vertical-align: middle;
    margin-top: ($header-height-mobile - $nav-toggle-size) / 2;
    margin-bottom: ($header-height-mobile - $nav-toggle-size) / 2;

    background-image: url('/static/img/xr-menu-toggle.svg');
    background-position: right center;
    background-repeat: no-repeat;

    @media (min-width: $bp-sm) {
      display: none;
    }
  }

  &__item {
    @media (max-width: $bp-sm) {
      transform: translateY(-20px);
      transition: transform .4s ease;
      margin: 24px 0;
      font-size: 32px;
      font-family: "Fucxed", sans-serif;
      text-transform: uppercase;
    }
    @media (min-width: $bp-sm) {
      margin: 0 16px;
      font-size: 22px;
      font-weight: 700;
    }

    a {
      text-decoration: underline;
    }
  }
}

