// svg icons

@mixin icon {
    display: flex;
    align-items: center;
    //justify-items: center;

    > span {
        margin-left: 4px;
    }
}

@mixin icon--vertical {
    flex-direction: column;
    > * + * {
        margin-left: 0;
    }
}

@mixin icon--hidden-text {
    > span {
    }
}

.icon {
    @include icon;
    &--vertical {
        @include icon--vertical;
    }
}

.svg-container {
    display: inline-block;
    position: relative;

    svg {
        width: 100%;
        height: 100%;
        vertical-align: text-bottom;
    }
}

.icon-list {
    display: inline-flex;
    flex-wrap: wrap;

    margin-top: -0.5em;
    margin-left: -0.5em;
    > li {
        flex: 0 0 auto;
        margin-top: 0.5em;
        margin-left: 0.5em;
    }

    > li > a {
        @include icon;
    }
    &--vertical {
        flex-direction: column;
    }
    &--icons-vertical {
        > li > a {
            @include icon--vertical;
        }
    }
}
